<div class="row mt-4 g-3">
    <div class="col-12">
        <h1>Reviews</h1>
        <a href="/events/new">New Event</a>

        <h1>Events</h1>
    </div>

    {{#each events}}
        <div class="col-md-3">
            <div class="card">
                <img src="{{this.imgUrl}}" class="card-img-top" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.desc}}</p>
                    {{#ifeq this.UserId ../currentUser.id}}
                        <div class="text-end">
                            <a href="/events/{{this.id}}/rsvps/new" class="btn btn-info">Rsvp</a>
                            <a href="/events/{{this.id}}" class="btn btn-primary">View</a>
                        </div>
                    {{/ifeq}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
